@import "_colores";

footer {
    background-color: map-get($map: $colores, $key: color4 );
    min-height: 500px;

    .itemFooter {
        display: flex;
        flex-direction: column;
        padding: 10px;
    
        h2 {
            align-self: center;
            margin-bottom: 10px;
        }

        p {
            padding-left: 10px;
            background-color: map-get($map: $colores, $key:color5 );
        }
    }

    #tablaH { 
        .tabla {
            background-color: map-get($map: $colores, $key:color5 );
        }
    }
}

@media only screen and (max-width: 930px) {

    #mapaGoogle {
        width: 100%;
    }
}
