@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
header {
  background-image: url("imagenes/laboratorio header 1.jpg");
  background-size: cover;
  background-position: center;
  height: 22vh;
}

header .altura {
  height: 22vh;
}

header .alturaCol {
  height: 20vh;
}

header .contenedorLogo #logo {
  max-height: 20vh;
  min-height: 13vh;
  -webkit-animation-name: giroLogo;
          animation-name: giroLogo;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

@-webkit-keyframes giroLogo {
  10% {
    -webkit-transform: rotate3d(1, 1, 1, 90deg);
            transform: rotate3d(1, 1, 1, 90deg);
  }
  90% {
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
            transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes giroLogo {
  10% {
    -webkit-transform: rotate3d(1, 1, 1, 90deg);
            transform: rotate3d(1, 1, 1, 90deg);
  }
  90% {
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
            transform: rotate3d(1, 1, 1, 360deg);
  }
}

header .contenedorRedes .grupoIconosHeader {
  height: 3.5vh;
  width: 2.5vw;
}

header .contenedorRedes .grupoIconosHeader:hover {
  -webkit-animation: latido 1s ease-in-out none infinite;
          animation: latido 1s ease-in-out none infinite;
}

@-webkit-keyframes latido {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  40% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes latido {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  40% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

header .contenedorRedes .alturaRedes {
  height: 20vh;
}

@media only screen and (max-width: 991px) {
  .grupoIconosHeader {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  .alturaCol {
    height: 15vh;
  }
  .barraRedes {
    background-color: rgba(26, 26, 250, 0.6);
  }
  .alturaRedes {
    height: 7vh;
  }
  .contenedorLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav {
  background-color: aquamarine;
  text-align: center;
  height: 6.3vh;
}

nav #barraNavegaciónSuperior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #barraNavegaciónSuperior a {
  text-decoration: none;
}

nav #barraNavegaciónSuperior a .itemsNav1 {
  margin: 5px;
  padding: 5px;
  width: 110px;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
}

nav #barraNavegaciónSuperior a .itemsNav1:hover {
  background-color: #03adad;
  color: white;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

@media only screen and (max-width: 991px) {
  nav {
    height: 7vh;
  }
}

main {
  background-image: url("imagenes/lab fondo.jpg");
  background-size: cover;
  background-position: center;
  background-color: #444;
  background-blend-mode: multiply;
}

main .alturaMain {
  height: 50vh;
}

main .overlay {
  position: relative;
}

main .overlay .mainLinks {
  height: 200px;
  width: 200px;
  border: outset 4px #19ffb2;
}

main .overlay a .contenido {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-left: 1.2rem;
  font-family: 'Dancing Script', cursive;
  background-color: rgba(26, 26, 250, 0.6);
  color: transparent;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 1;
}

main .overlay a .contenido .tituloContenido {
  font-size: 2.5rem;
  font-weight: bold;
}

main .overlay a .contenido .textoContenido {
  font-size: 1.2rem;
}

main .overlay:hover .contenido {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  color: white;
  z-index: 0;
}

@media only screen and (max-width: 991px) {
  .alturaMain {
    height: 70vh;
  }
}

footer {
  background-color: #104745;
  min-height: 500px;
}

footer .itemFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

footer .itemFooter h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
}

footer .itemFooter p {
  padding-left: 10px;
  background-color: #19716d;
}

footer #tablaH .tabla {
  background-color: #19716d;
}

@media only screen and (max-width: 930px) {
  #mapaGoogle {
    width: 100%;
  }
}

* {
  margin: 0px;
  padding: 0px;
}
/*# sourceMappingURL=estilos.css.map */