@import "../colores";

form {
    margin-left: 10%;
    width: 90%;
}

.colorFormulario {
    background-color: map-get($map: $colores, $key: color3);
}

.alturaFormulario {
    height: 100vh;
}

.tituloFormulario {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.contenidoFormulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    color: whitesmoke;
    height: 5vh;
}

input {
    border-radius: 8px;
}

.anchoCampo{
    width: 90%;
}

.botonesFormulario {
    display: flex;
    justify-content: space-around;
}